<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
{#    {% load phonebook_tags %}#}
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'kks_reestr_app/Bootstrap-5-5.1.3/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'kks_reestr_app/css/style_sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'kks_reestr_app/css/kks-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'kks_reestr_app/css/loader-big.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'kks_reestr_app/css/scroll-panel.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'kks_reestr_app/select2/select2.min.css' %}"/>


    <script type="text/javascript"
            src="{% static 'kks_reestr_app/Bootstrap-5-5.1.3/js/bootstrap.bundle.js' %}"></script>
    {#    <script type="text/javascript" src="{% static 'kks_reestr_app/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'kks_reestr_app/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kks_reestr_app/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kks_reestr_app/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'kks_reestr_app/select2/select2.min.js' %}"></script>


</head>
<body class="content-fade">

<div class="container">
        {% block content %}
        {% endblock %}
</div>
</body>
</html>