{% extends "kks_reestr_app/base.html" %}
{% load static %}
{% block title %}
    Создать KKS код
{% endblock %}

{% block content %}
    <div class="d-flex w-100 align-items-center justify-content-center" id="id_generator_body">
        <div class="kks_content">
            <div class="d-flex flex-column" id="id_title_start">
                <div class="d-flex text-48px-bold">
                    Код KKS
                </div>
                <div class="d-flex text-18px-light">
                    «Тут должен быть какой-то текст»
                </div>
            </div>
            <div class="kks_pole" id="id_kks_pole">
                <div class="kks_pole_inside_first">
                    <div class="d-flex text-24px-light" id="sector_1">XXXX</div>
                </div>
                <div class="kks_pole_inside" style="width: 54px">
                    <div class="d-flex text-24px-light" id="sector_2">X</div>
                </div>
                <div class="kks_pole_inside" style="width: 91px">
                    <div class="d-flex text-24px-light" id="sector_3">XXX</div>
                </div>
                <div class="kks_pole_inside" style="width: 54px">
                    <div class="d-flex text-24px-light" id="sector_4">X</div>
                </div>
                <div class="kks_pole_inside" style="width: 150px">
                    <div class="d-flex text-24px-light" id="sector_5">XXXXXX</div>
                </div>
                <div class="kks_pole_inside" style="width: 126px">
                    <div class="d-flex text-24px-light" id="sector_6">XXXXX</div>
                </div>
                <div class="kks_pole_inside" style="width: 91px">
                    <div class="d-flex text-24px-light" id="sector_7">XXX</div>
                </div>
                <div class="kks_pole_inside" style="width: 73px">
                    <div class="d-flex text-24px-light" id="sector_8">XX</div>
                </div>
                <div class="kks_pole_inside_last">
                    <div class="d-flex text-24px-light" id="sector_9">XXXX</div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="button_blue" style="width: 196px; height: 45px;" onclick="clickGenerateKKS()"
                        id="id_button_generate">
                    Создать код kks
                </button>
            </div>

            <div class="d-flex" data-ajax-url="{% url 'get-objects' %}" id="id_inside_place">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-2' %}" id="id_inside_place_2">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-3' %}" id="id_inside_place_3">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-4' %}" id="id_inside_place_4">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-type-doc' %}" id="id_inside_place_type_doc">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-5' %}" id="id_inside_place_5">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-6' %}" id="id_inside_place_6">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-6-1' %}" id="id_inside_place_6_1">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-7' %}" id="id_inside_place_7">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-8' %}" id="id_inside_place_8">
            </div>
            <div class="d-flex" data-ajax-url="{% url 'get-sector-9' %}" id="id_inside_place_9">
            </div>
        </div>
    </div>

    {#    </div>#}
{% endblock %}

{% block script %}
    <script>

        function clickGenerateKKS() {
            $('#id_generator_body').animate({opacity: 0}, 200)
            $('#id_button_generate').animate({opacity: 0}, 200)
            $('#id_inside_place').css('opacity: 0')
            setTimeout(function () {
                $('#sector_1').css({'color': '#cccccc'})
                $('#sector_2').css({'color': '#cccccc'})
                $('#sector_3').css({'color': '#cccccc'})
                $('#sector_4').css({'color': '#cccccc'})
                $('#sector_5').css({'color': '#cccccc'})
                $('#sector_6').css({'color': '#cccccc'})
                $('#sector_7').css({'color': '#cccccc'})
                $('#sector_8').css({'color': '#cccccc'})
                $('#sector_9').css({'color': '#cccccc'})
                $('#id_button_generate').removeClass('d-flex')
                $('#id_button_generate').addClass('d-none')
                $('#id_title_start').removeClass('d-flex')
                $('#id_title_start').addClass('d-none')
                $('#id_generator_body').removeClass('align-items-center')
                $('#id_generator_body').animate({opacity: 1, marginTop: 100}, 450)
            }, 300)

            var get_objects_url = $("#id_inside_place").attr("data-ajax-url");
            console.log(get_objects_url)
            setTimeout(function () {
                $.ajax({                       // формируем AJAX запрос
                    url: get_objects_url,                    // подгружаем URL адрес для запроса
                    data: {
                        'get_objects_url': get_objects_url    // добавляем objectID в query параметры GET запроса
                    },
                    success: function (data) {   // `data` результат выполнения  функции `load_contract`
                        $("#id_inside_place").html(data)
                        var id_inside_place_2_url = $("#id_inside_place_2").attr("data-ajax-url")
                        console.log(id_inside_place_2_url)

                    }
                })
            }, 400);

        }


    </script>
{% endblock %}