{% extends "kks_reestr_app/base.html" %}
{% load static %}
{% block title %}
    Index
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for obj in objects %}
            <div>
                <input class="input_kks" type="radio" name="kks_object_number" value="{{ obj.id }}" id="{{ obj.kks_object_abr }}" hidden>
                <label for="{{ obj.kks_object_abr }}">{{ obj }}</label>
            </div>
        {% endfor %}
        <button class="btn btn-dark" type="submit"> Ok</button>
    </form>
{% endblock %}

{% block script %}

{% endblock %}