<div class="d-flex content-fade flex-column w-100">
    <div class="d-flex flex-column">
        <div class="d-flex text-36px-bold" style="margin-top: 50px">
            Результат:
        </div>
        <div class="d-flex text-18px-light">
            Предварительно получившийся KKS код
        </div>
    </div>
    <div class="d-flex flex-column w-100">
        <div class="d-flex flex-column mt-4">
            {% csrf_token %}
            <div class="d-flex flex-row justify-content-between gap-3">
                <div class="d-flex align-items-center">
                    <div class="nav-prev-generator" onclick="onClickToSector8()"></div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center gap-3 w-100 text-24px-light">
                    {{ kks_sector1_text }}.{{ kks_sector2_text }}.{{ kks_sector3_text }}.{{ kks_sector4_text }}.{{ kks_sector5_text }}.{{ kks_sector6_text }}.{{ kks_sector7_text }}.{{ kks_sector8_text }}.{{ kks_sector9_text }}
                </div>

                <div class="d-flex align-items-center">
                    <div class="nav-next-generator" style="opacity: 0"></div>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-center mt-4">
                <button class="button_blue" style="width: 196px; height: 45px;"
                        onclick="$('#show_save_approve').modal('show');"
                        id="id_button_generate">
                    Сохранить код kks
                </button>
            </div>
            <div>
            </div>
        </div>

        <!-- Модальное окно сохранения кода -->
        <div class="modal fade" id="show_save_approve"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    {% comment %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Сохранение</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    {% endcomment %}
                    <div class="modal-body flex-column justify-content-center align-items-center "
                         style="height: 150px; display: flex">
                        <div class="text-18px-light" style="display: flex; margin-top: 5px">
                            Сохранить kks код в базу данных?
                        </div>
                        <div class="text-24px-light" style="display: flex">
                            {{ kks_sector1_text }}.{{ kks_sector2_text }}.{{ kks_sector3_text }}.{{ kks_sector4_text }}.{{ kks_sector5_text }}.{{ kks_sector6_text }}.{{ kks_sector7_text }}.{{ kks_sector8_text }}.{{ kks_sector9_text }}
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" style="min-width: 200px;" class="button_grey_modal_outline"
                                data-bs-dismiss="modal"
                                onclick="$('#show_save_approve').modal('hide');">Отмена
                        </button>
                        <form method="POST" action="{% url 'approve-save' %}">
                            {% csrf_token %}
                            <button class="button_blue_modal_outline" style="min-width: 200px;" type="submit">
                                Сохранить
                            </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
                $('[data-toggle="tooltip"]').tooltip();
            });

            function onClickToSector8() {
                $('#id_inside_place_9').removeClass('d-flex')
                $('#id_inside_place_9').addClass('d-none')
                $('#id_inside_place_8').removeClass('d-none')
                $('#id_inside_place_8').addClass('d-flex')
                $('#id_inside_place_8').animate({opacity: 1}, 200)
                $('#sector_9').text('XXXX')
                $('#sector_9').css({'color': '#cccccc'})
                $('#sector_8').text('XX')
                $('#sector_8').css({'color': '#cccccc'})

            }

            /*
                $('#id-approve-form').submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var url_form = $("#id-approve-form").attr("data-ajax-url")

                    $.ajax({
                        type: "POST",
                        url: url_form,
                        data: form.serialize(),
                        success: function (data) {
                            $('#id_inside_place_8').animate({opacity: 0}, 200)
                            $('#id_inside_place_8').removeClass('d-flex')
                            $('#id_inside_place_8').addClass('d-none')
                            $("#id_inside_place_9").html(data)
                            var cookieObjectValueSector8 = (document.cookie.match('(^|; )' + encodeURIComponent('kks_sector8_text') + '=([^;]+)') || []).pop() || null;
                            console.log(cookieObjectValueSector8)
                            $('#sector_8').text(cookieObjectValueSector8)
                            $('#sector_8').css({'color': '#1D222A'})
                            var cookieObjectValueSector9 = (document.cookie.match('(^|; )' + encodeURIComponent('kks_sector9_text') + '=([^;]+)') || []).pop() || null;
                            console.log(cookieObjectValueSector9)
                            $('#sector_9').text(cookieObjectValueSector8)
                            $('#sector_9').css({'color': '#1D222A'})
                        }
                    })
                }) */
        </script>