<div class="d-flex content-fade flex-column w-100">
    <div class="d-flex flex-column">
        <div class="d-flex text-36px-bold" style="margin-top: 50px">
            Сектор 5:
        </div>
        <div class="d-flex text-18px-light">
            Заполните поля согласно&nbsp<a class="dashed_text" href="#" onclick="onClickHelpSector5()">инструкции</a>
        </div>
    </div>
    <div class="d-flex flex-column w-100">
        <form method="POST" class="d-flex flex-column mt-4" id="id-sector5-form">
            <div class="d-flex flex-row justify-content-between gap-3">
                <div class="d-flex align-items-center">
                    <div class="nav-prev-generator" onclick="onClickToSectorGetType()"></div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center gap-3 w-100">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input class="input_text" type="text" id="input_sector5_txt1" name="input_sector5_txt1"
                               required minlength="2"
                               maxlength="2"
                                {% if kks_type_doc_id == 0 %}
                               placeholder="Код номер раздела"
                                {% elif kks_type_doc_id == 1 %}
                               placeholder="Код номера главы"
                                {% elif kks_type_doc_id == 2 %}
                               placeholder="Код номера тома"
                                {% elif kks_type_doc_id == 3 %}
                               placeholder="Код номера раздела"
                                {% elif kks_type_doc_id == 7 %}
                               placeholder="Код тома отчета"
                                {% endif %}
                        >
                    </div>
                    <div class="d-flex">
                        <input class="input_text" type="text" id="input_sector5_txt2" name="input_sector5_txt2"
                               required minlength="2"
                               maxlength="2"
                                {% if kks_type_doc_id == 0 %}
                               placeholder="Код номера подраздела"
                                {% elif kks_type_doc_id == 1 %}
                               placeholder="Код номера раздела"
                                {% elif kks_type_doc_id == 2 %}
                               placeholder="Код номера подраздела"
                                {% elif kks_type_doc_id == 3 %}
                               placeholder="Код номера подраздела"
                                {% elif kks_type_doc_id == 7 %}
                               placeholder="Номер главы"
                                {% endif %}
                        >
                    </div>
                    <div class="d-flex">
                        <input class="input_text" type="text" id="input_sector5_txt3" name="input_sector5_txt3"
                               required
                               minlength="2"
                               maxlength="2"
                                {% if kks_type_doc_id == 0 %}
                               placeholder="Номер пункта ОБИН"
                                {% elif kks_type_doc_id == 1 %}
                               placeholder="Номер подраздела"
                                {% elif kks_type_doc_id == 2 %}
                               placeholder="Код номера части"
                                {% elif kks_type_doc_id == 3 %}
                               placeholder="Код номера части"
                                {% elif kks_type_doc_id == 7 %}
                               placeholder="Код номера документа"
                                {% endif %}
                        >
                    </div>
                    <div class="d-flex">
                        <input class="input_text" type="text"
                               minlength="2"
                               maxlength="2" style="opacity: 0" disabled>
                    </div>
                </div>


                <div class="d-flex align-items-center">
                    <input class="nav-next-generator" type="submit">
                </div>
            </div>
        </form>
    </div>
    <!-- Инструкция -->
    <div id="help_text_sector5" class="help_text flex-column">
        <div class="text-18px-bold mt-5">
            Инструкция
        </div>
        <div class="text-18px-light">
            {% if kks_type_doc_id == 0 %}
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>
                                Первые два символа сектора - код номера раздела ОБИН.<br>
                                Для раздела 1 - код «01», для раздела 2 – код «02» и т.д.;
                            </li>
                            <li>
                                Третий и четвертый символы сектора - код номера подраздела ОБИН .<br>
                                Например, для подраздела 4.3 – код «03» для подраздела 4.10 – код «10»;
                            </li>
                            <li>
                                Пятый и шестой символы сектора - код номера пункта ОБИН. <br>
                                Например, для пункта 4.2.1 – код «01», для пункта 4.2.11 – код «11».
                            </li>
                        </ol>
                    </div>
                    <div class="mt-3">
                        Если том ОБИН сформирован из одного раздела (подраздела) то соответствующие символы с третьего
                        по
                        шестой
                        (с пятого по шестой) сектора 5 заполняются замещающим символом "&".
                    </div>
                </div>
            {% elif kks_type_doc_id == 1 %}
                <!-- ПООБ-->
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>Первые два символа сектора - код номера главы.<br>
                                Для главы 1 - код «01», для главы 2 – код «02» и т.д;
                            </li>
                            <li>Третий и четвертый символы сектора - код номера раздела.<br>
                                Например, для раздела 4.1 – код «01», для раздела 4.3 – код «03»;
                            </li>
                            <li>Пятый и шестой символы сектора - код номера подраздела.<br>
                                Например, для подраздела 5.2.2 – код «02».
                            </li>
                        </ol>
                    </div>
                    <div class="mt-3">
                        Если глава ПООБ сформирована из одной главы (раздела), то соответствующие символы с третьего по
                        шестой (с пятого по шестой) сектора 5 заполняются замещающим символом «&».
                    </div>
                    <div class="mt-3">
                        В последних двух символах указывается номер части ПООБ (ООБ) в случае, когда количе-ство листов
                        в
                        документе превышает 300 шт.
                    </div>
                </div>
            {% elif kks_type_doc_id == 2 %}
                <!-- Предпроектная документация-->
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>
                                Первые два символа сектора - код номера тома.<br>
                                для тома 1 – код «01», для тома 2 – код «02» и т.д.;
                            </li>
                            <li>
                                Третий и четвертый символы сектора - код номера подраздела.
                                Например, для подраздела 4.1 – код «01», для подраздела 4.3 – код «03»;
                            </li>
                            <li>
                                Пятый и шестой символы сектора - код номера части.
                                <br>Например, для части 5.2.2 – код «02».
                            </li>
                        </ol>
                    </div>
                    <div class="mt-3">
                        Если том сформирован из одного раздела (подраздела), то соответствующие символы с третьего по
                        шестой
                        (с пятого по шестой) сектора 5 заполняются замещающим символом «&».
                    </div>
                </div>
            {% elif kks_type_doc_id == 3 %}
                <!-- Том проектной документации -->
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>Первые два символа сектора - код номера раздела.
                                <br>Для раздела 1 – код «01», для раздела 2 – код «02» и т.д.;
                            </li>
                            <li>Третий и четвертый символы сектора - код номера подраздела. <br>
                                Например, для подраздела 4.1 - код "01", для раздела 4.3 - код "03";
                            </li>
                            <li>
                                Пятый и шестой символы сектора - код номера части. <br>
                                Например, для подраздела 5.2.2 - код "02".
                            </li>
                        </ol>
                    </div>
                    <div class="mt-3">
                        Если том сформирован из одного раздела (подраздела) то соответствующие символы с третьего по
                        шестой
                        (с пятого по шестой) сектора 5 заполняются замещающим символом "&"
                    </div>
                </div>
            {% elif kks_type_doc_id == 7 %}
                <!-- НИР и ОКР -->
                <div class="text-align-justify">
                    Если отчетная документации о НИР и ОКР в бумажном формате состоит из не-скольких томов, глав и книг,
                    то заполнение сектора производится следующим образом:
                    <ol class="num_list mt-2">
                        <li>
                            Отчетная документации о НИР и ОКР в бумажном формате состоит только из не-скольких томов
                            тогда
                            первые два символа сектора – код тома отчета:<br>
                            Пример: для тома 1 –код 01, для тома 2 – код 02 и т.д. С третьего по шестой символ
                            заполняются
                            замещающим символом «&»;
                        </li>
                        <li>
                            Отчетная документации о НИР и ОКР в бумажном формате состоит из нескольких томов, а тома в
                            свою
                            очередь делятся на книги, тогда первые два символа сектора – код тома отчета, как указано
                            выше
                            по тексту, третий и четвертый символы сектора – это номер главы с которой начинается
                            книга:<br>
                            Пример: для главы 1 – код 01, для главы 2 – код 02 и т.д. Пятый и шестой символы заполняются
                            замещающим символом «&»;<br>
                            При наличии в кодируемом томе двух и более глав – указывается номер первой главы
                            встречающейся
                            в томе.
                        </li>
                        <li>
                            Если главы документа состоят из нескольких книг, то используется пятый и ше-стой символы
                            сектора
                            – код номера документа с которой начинается книга:<br>
                            Пример: в текущей главе это 15 документ – код 15.
                        </li>
                    </ol>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $('#id-sector5-form').submit(function (e) {
        e.preventDefault()

        var form = $(this)
        var id_inside_place_6 = $("#id_inside_place_6").attr("data-ajax-url")

        $.ajax({
            type: "POST",
            url: id_inside_place_6,
            data: form.serialize(),
            success: function (data) {
                $('#id_inside_place_5').animate({opacity: 0}, 200)
                $('#id_inside_place_5').removeClass('d-flex')
                $('#id_inside_place_5').addClass('d-none')
                $('#help_text_sector5').animate({opacity: 0}, 400)
                $('#id_inside_place_6').removeClass('d-none')
                $('#id_inside_place_6').addClass('d-flex')
                $("#id_inside_place_6").html(data)
                var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('kks_sector5_text') + '=([^;]+)') || []).pop() || null;
                console.log(cookieObjectValue)
                $('#sector_5').text(cookieObjectValue)
                $('#sector_5').css({'color': '#1D222A'})
            }
        })
    })

    function onClickHelpSector5() {
        if ($('#help_text_sector5').css('opacity') == 0) {
            $('#help_text_sector5').removeClass('d-none')
            $('#help_text_sector5').addClass('d-flex')
            $('#help_text_sector5').animate({opacity: 1}, 400)
        } else {
            $('#help_text_sector5').animate({opacity: 0}, 400)
            $('#help_text_sector5').removeClass('d-flex')
            setTimeout(function () {
                $('#help_text_sector5').addClass('d-none')
            }, 400);

        }
    }

    function onClickToSectorGetType() {
        $('#id_inside_place_5').removeClass('d-flex')
        $('#id_inside_place_5').addClass('d-none')
        $('#id_inside_place_type_doc').removeClass('d-none')
        $('#id_inside_place_type_doc').addClass('d-flex')
        $('#id_inside_place_type_doc').animate({opacity: 1}, 200)
        $('#sector_5').text('XXXXXX')
        $('#sector_5').css({'color': '#cccccc'})


    }
</script>