<div class="d-flex content-fade flex-column">
    <div class="d-flex flex-column" id="id_title_start">
        <div class="d-flex text-36px-bold" style="margin-top: 50px">
            Сектор 1:
        </div>
        <div class="d-flex text-18px-light">
            Выберите объект
        </div>
    </div>
    <div class="d-flex">
        <form method="POST" style="display: flex; flex-direction: column" id="id-objects-form">
            {% csrf_token %}
            {% for obj in objects %}
                <div>
                    <input class="input_kks" type="radio" name="kks_object_number" value="{{ obj.id }}"
                           id="{{ obj.kks_object_abr }}" hidden>
                    <label for="{{ obj.kks_object_abr }}">{{ obj }}</label>
                </div>
            {% endfor %}
            <input class="btn btn-dark" type="submit" value="submit">
        </form>
    </div>
</div>

<script>
    $('#id-objects-form').submit(function (e) {
        e.preventDefault()

        var form = $(this)
        var id_inside_place_2_url = $("#id_inside_place_2").attr("data-ajax-url")

        $.ajax({
            type: "POST",
            url: id_inside_place_2_url,
            data: form.serialize(),
            success: function (data) {
                $('#id_inside_place').animate({opacity: 0}, 200)
                $('#id_inside_place').removeClass('d-flex')
                $('#id_inside_place').addClass('d-none')
                $("#id_inside_place_2").html(data)
                var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('kks_object') + '=([^;]+)') || []).pop() || null;
                console.log(cookieObjectValue)
                $('#sector_1').text(cookieObjectValue)
            }
        })
    })
</script>
