<div class="d-flex content-fade flex-column w-100">
    <div class="d-flex flex-column">
        <div class="d-flex text-36px-bold" style="margin-top: 50px">
            Результат:
        </div>
        <div class="d-flex text-18px-light">
            Получившийся KKS код
        </div>
    </div>
    <div class="d-flex flex-column w-100">
        <div class="d-flex flex-column mt-4">
            {% csrf_token %}
            <div class="d-flex flex-row justify-content-between gap-3">
                <div class="d-flex align-items-center">
                    <div class="nav-prev-generator" style="opacity: 0"></div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center gap-3 w-100 text-24px-light">
                    {{ kks_sector1_text }}.{{ kks_sector2_text }}.{{ kks_sector3_text }}.{{ kks_sector4_text }}.{{ kks_sector5_text }}.{{ kks_sector6_text }}.{{ kks_sector7_text }}.{{ kks_sector8_text }}.{{ kks_sector9_text }}
                </div>

                <div class="d-flex align-items-center">
                    <div class="nav-next-generator" style="opacity: 0"></div>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-center mt-4">
                <button class="button_blue" style="width: 196px; height: 45px;"
                        onclick="location.href='{% url 'my-kks' %}';"
                        id="id_button_generate">
                    Мои KKS коды
                </button>
            </div>


        </div>
    </div>


    <script>
        $(function () {
            // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
            $('[data-toggle="tooltip"]').tooltip();
        });

        function onClickToSector8() {
            $('#id_inside_place_9').removeClass('d-flex')
            $('#id_inside_place_9').addClass('d-none')
            $('#id_inside_place_8').removeClass('d-none')
            $('#id_inside_place_8').addClass('d-flex')
            $('#id_inside_place_8').animate({opacity: 1}, 200)
            $('#sector_9').text('XXXX')
            $('#sector_9').css({'color': '#cccccc'})
            $('#sector_8').text('XX')
            $('#sector_8').css({'color': '#cccccc'})

        }

        /*
            $('#id-approve-form').submit(function (e) {
                e.preventDefault()

                var form = $(this)
                var url_form = $("#id-approve-form").attr("data-ajax-url")

                $.ajax({
                    type: "POST",
                    url: url_form,
                    data: form.serialize(),
                    success: function (data) {
                        $('#id_inside_place_8').animate({opacity: 0}, 200)
                        $('#id_inside_place_8').removeClass('d-flex')
                        $('#id_inside_place_8').addClass('d-none')
                        $("#id_inside_place_9").html(data)
                        var cookieObjectValueSector8 = (document.cookie.match('(^|; )' + encodeURIComponent('kks_sector8_text') + '=([^;]+)') || []).pop() || null;
                        console.log(cookieObjectValueSector8)
                        $('#sector_8').text(cookieObjectValueSector8)
                        $('#sector_8').css({'color': '#1D222A'})
                        var cookieObjectValueSector9 = (document.cookie.match('(^|; )' + encodeURIComponent('kks_sector9_text') + '=([^;]+)') || []).pop() || null;
                        console.log(cookieObjectValueSector9)
                        $('#sector_9').text(cookieObjectValueSector8)
                        $('#sector_9').css({'color': '#1D222A'})
                    }
                })
            }) */
    </script>