<div class="d-flex content-fade flex-column w-100">
    <div class="d-flex flex-column">
        <div class="d-flex text-36px-bold" style="margin-top: 50px">
            Сектор 6:
        </div>
        <div class="d-flex text-18px-light">
            Выберите код по тематическому направлению работы, согласно&nbsp<a class="dashed_text" href="#"
                                                                              onclick="onClickHelpSector631()">инструкции</a>
        </div>
    </div>
    <div class="d-flex flex-column w-100">
        <form method="POST" class="d-flex flex-column mt-4" id="id-sector6-form">
            <div class="d-flex flex-row justify-content-between gap-3">
                <div class="d-flex align-items-center">
                    <div class="nav-prev-generator" onclick="onClickToSector52()"></div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center gap-3 w-100">
                    {% csrf_token %}
                    <select class="form-select" style="min-width: 300px" name="kks_thematic_direction_id"
                            id="kks_thematic_direction_id">
                        <option selected>Тематическое направление работы</option>
                        {% for obj in objects %}
                            <option value="{{ obj.id }}">{{ obj }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="d-flex align-items-center">
                    <input class="nav-next-generator" type="submit" value="">
                </div>
            </div>
        </form>
    </div>

    <!-- Инструкция -->
    <div id="help_text_sector631" class="help_text d-none flex-column">
        <div class="text-18px-bold mt-5">
            Инструкция
        </div>
        <div class="text-18px-light">
            {% if kks_type_doc_id == 7 %}
                <!-- Для НИР и ОКР -->
                <div class="text-align-justify">
                    <div>
                        Выберите тематическое направление в соответствии с классификатором. При наличии в кодируемом
                        документе двух и более тематических направлений – первые три символа сектора заполняются кодом
                        «VAR».
                    </div>
                    <div class="mt-3">

                        При кодировании НИР и ОКР по оборудованию и технологиям допускается заполнять данный сектор
                        следующим образом:
                        <ol class="num_list">
                            <li>
                                Символы с первого по третий предназначены для обозначения принадлежности документа к
                                функционально – технологической системе и заполняются в соответствии с документом
                                «Система классификации и кодирования», инв. № Э22-01281;
                            </li>
                            <li>
                                При обозначении документа, который распространяется на несколько систем, в секторе 6
                                используется код приоритетной системы;
                            </li>
                            <li>
                                Четвертый и пятый символы соответствуют системной нумерации функционального кода KKS.
                            </li>
                            <li>
                                Системная нумерация функционального кода записывается в случае, если данный документ
                                распространяется на часть системы;
                            </li>
                            <li>
                                В случае, когда невозможно отнести документ к конкретной системе, неиспользованные
                                символы
                                заполняются замещаемым символом «&»;
                            </li>
                        </ol>
                    </div>
                    <div class="mb-5">
                        При кодировании НИР и ОКР по разработке проектных решений энергоблоков до-пускается заполнять
                        данный сектор по аналогии с проектной документацией
                    </div>

                </div>
            {% endif %}
        </div>
    </div>

</div>

<script>
    $(function () {
        // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#id-sector6-form').submit(function (e) {
        e.preventDefault()

        var form = $(this)
        var id_inside_place_7 = $("#id_inside_place_7").attr("data-ajax-url")

        $.ajax({
            type: "POST",
            url: id_inside_place_7,
            data: form.serialize(),
            success: function (data) {
                {#$('#id_inside_place_6').animate({opacity: 0}, 200)#}
                $('#id_inside_place_6').removeClass('d-flex')
                $('#id_inside_place_6').addClass('d-none')
                $('#id_inside_place_7').removeClass('d-none')
                $('#id_inside_place_7').addClass('d-flex')
                $("#id_inside_place_7").html(data)
                var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('kks_sector6_text') + '=([^;]+)') || []).pop() || null;
                console.log(cookieObjectValue)
                $('#sector_6').text(cookieObjectValue)
                $('#sector_6').css({'color': '#1D222A'})
            }
        })
    })

    function onClickHelpSector631() {
        if ($('#help_text_sector631').css('opacity') == 0) {
            $('#help_text_sector631').removeClass('d-none')
            $('#help_text_sector631').addClass('d-flex')
            $('#help_text_sector631').animate({opacity: 1}, 400)
        } else {
            $('#help_text_sector631').animate({opacity: 0}, 400)
            $('#help_text_sector631').removeClass('d-flex')
            setTimeout(function () {
                $('#help_text_sector631').addClass('d-none')
            }, 400);

        }
    }


    function onClickToSector52() {
        $('#id_inside_place_6').removeClass('d-flex')
        $('#id_inside_place_6').addClass('d-none')
        $('#id_inside_place_5').removeClass('d-none')
        $('#id_inside_place_5').addClass('d-flex')
        $('#id_inside_place_5').animate({opacity: 1}, 200)
        $('#sector_6').text('XXXXX')
        $('#sector_6').css({'color': '#cccccc'})
        $('#sector_5').text('XXXXXX')
        $('#sector_5').css({'color': '#cccccc'})

    }
</script>