<div class="d-flex content-fade flex-column w-100">
    <div class="d-flex flex-column">
        <div class="d-flex text-36px-bold" style="margin-top: 50px">
            Сектор 6:
        </div>
        <div class="d-flex text-18px-light">
            Заполните поля согласно&nbsp<a class="dashed_text" href="#" onclick="onClickHelpSector61()">инструкции</a>
        </div>
    </div>
    <div class="d-flex flex-column w-100">
        <form method="POST" class="d-flex flex-column mt-4" id="id-sector6-form">
            <div class="d-flex flex-row justify-content-between gap-3">
                <div class="d-flex align-items-center">
                    <div class="nav-prev-generator" onclick="onClickToSector51()"></div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center gap-3 w-100">
                    {% csrf_token %}
                    {% if kks_type_doc_id == 0 or kks_type_doc_id == 1 %}
                        <!-- ПООБ и ОБИН-->
                        <div class="d-flex">
                            <input class="input_text" type="text" id="input_sector6_txt1" name="input_sector6_txt1"
                                   required minlength="2"
                                   maxlength="2" placeholder="Код номера книги">
                        </div>
                        <div class="d-flex">
                            <input class="input_text" type="text" id="input_sector6_txt2" name="input_sector6_txt2"
                                   required minlength="2"
                                   maxlength="2"
                                    {% if kks_type_doc_id == 0 %}
                                   placeholder="Код номера части ОБИН">
                                    {% else %}
                                        placeholder="Номер части ПООБ">
                                    {% endif %}
                        </div>
                        <div class="d-flex">
                            <input class="input_text" type="text" id="input_sector6_txt3" name="input_sector6_txt3"
                                   required
                                   minlength="1"
                                   maxlength="1" value="&" disabled
                                   data-toggle="tooltip" data-bs-placement="bottom"
                                   rel="txtTooltip" data-bs-html="true"
                                    {% if kks_type_doc_id == 0 %}
                                   title="Для ОБИН данное поле не заполняется">
                                    {% else %}
                                        title="Для ПООБ данное поле не заполняется">
                                    {% endif %}
                        </div>
                    {% else %}
                        <!-- Предпроектная и проектная-->
                        <div>
                            <input class="input_text" type="text" id="input_sector6_txt1" name="input_sector6_txt1"
                                   required minlength="2"
                                   maxlength="2" placeholder="Код номера темы">
                        </div>
                        <div class="d-flex">
                            <input class="input_text" type="text" id="input_sector6_txt2" name="input_sector6_txt2"
                                   required minlength="2"
                                   maxlength="2" placeholder="Код номера книги">
                        </div>
                        <div class="d-flex">
                            <input class="input_text" type="text" id="input_sector6_txt3" name="input_sector6_txt3"
                                   required
                                   minlength="1"
                                   maxlength="1" placeholder="Код приложения">
                        </div>
                    {% endif %}


                    <div class="d-flex">
                        <input class="input_text" type="text"
                               minlength="2"
                               maxlength="2" style="opacity: 0" disabled>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <input class="nav-next-generator" type="submit" value="">
                </div>
            </div>
        </form>
    </div>


    <!-- Инструкция -->
    <div id="help_text_sector61" class="help_text flex-column">
        <div class="text-18px-bold mt-5">
            Инструкция
        </div>
        <div class="text-18px-light">
            {% if kks_type_doc_id == 0 %}
                <!-- Для ОБИН -->
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>
                                Первые два символа сектора 6 – код номера книги. <br>
                                Для книги 1 – код «01», для книги 2 – код «02» и т.д. <br>
                                При отсутствии разбиения раздела на книги первые два символа сектора 6 заполняются
                                замещающим символом;

                            </li>
                            <li>
                                Третий и четвертый символы сектора 6 – код номера части ОБИН.<br>
                                Для части 1 код – «01», для части 2 – код «02» и т.д.<br>
                                В случае если разбивка на части отсутствует, на месте третьего и четвертого цифровых
                                символов ставят замещающие символы &&;

                            </li>
                            <li>
                                Пятый символ сектора 6 заполняется замещающим символом «&»;
                            </li>
                        </ol>
                    </div>
                </div>
            {% elif kks_type_doc_id == 1 %}
                <!-- Для ПООБ -->
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>
                                Первые два символа сектора 6 – код номера книги.<br>
                                Для книги 1 – код «01», для книги 2 – код «02» и т.д.<br>
                                При отсутствии разбиения на книги первые два символа сек-тора 6 заполняются замещающим
                                символом «&»;
                            </li>
                            <li>
                                Третий и четвертый символ – указывается номер части ПООБ (ООБ) в случае, когда
                                количество листов в документе превышает 300 шт.;
                            </li>
                            <li>
                                Пятый символ сектора 6 заполняется замещающим символом «&»;
                            </li>
                        </ol>
                    </div>
                </div>
            {% elif kks_type_doc_id == 2 %}
                <!-- Для предпроектной документации -->
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>
                                Первые два символа сектора 6 – код номера темы.<br>
                                Для темы 1 – код «01», для темы 2 – код «02» и т.д.
                            </li>
                            <li>
                                Третий и четвертый символы сектора – код номера книги. <br>
                                Например, для книги 1 – код «01», для книги 2 – код «02»;
                            </li>
                            <li>
                                Пятый для обозначения номера (кода) приложения предпроектной документации в составе
                                предпроекта используется пятый символ сектора, начина с «1». <br>
                                При обозначении приложений буквами, в коде KKS указывается цифра, соответствующая
                                порядковому номеру буквы, то есть букве «А» соответствует цифра «1», букве «Б»
                                соответствует цифра «2» и т. д.).
                            </li>
                        </ol>
                    </div>
                </div>
            {% elif kks_type_doc_id == 3 %}
                <!-- Для тома проектной документации -->
                <div class="text-align-justify">
                    <div>
                        <ol class="num_list">
                            <li>
                                Первые два символа сектора 6 – код номера темы.<br>
                                Для темы 1 – код «01», для темы 2 – код «02» и т.д.
                            </li>
                            <li>
                                Третий и четвертый символы сектора – код номера книги. <br>
                                Например, для книги 1 – код «01», для книги 2 – код «02»;
                            </li>
                            <li>
                                Пятый для обозначения номера (кода) приложения проектной документации в составе проекта
                                используется пятый символ сектора, начиная с «1». <br>
                                при обозначении приложений буквами, в коде KKS указывается цифра, соответствующая
                                порядковому номеру буквы, то есть букве «А» соответствует цифра «1», букве «Б»
                                соответствует цифра «2» и т. д.
                            </li>
                        </ol>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $(function () {
        // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#id-sector6-form').submit(function (e) {
        e.preventDefault()

        var form = $(this)
        var id_inside_place_7 = $("#id_inside_place_7").attr("data-ajax-url")

        $.ajax({
            type: "POST",
            url: id_inside_place_7,
            data: form.serialize(),
            success: function (data) {
                $('#id_inside_place_6').animate({opacity: 0}, 200)
                $('#id_inside_place_6').removeClass('d-flex')
                $('#id_inside_place_6').addClass('d-none')
                $('#help_text_sector61').animate({opacity: 0}, 400)
                $('#id_inside_place_7').removeClass('d-none')
                $('#id_inside_place_7').addClass('d-flex')
                $("#id_inside_place_7").html(data)
                var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('kks_sector6_text') + '=([^;]+)') || []).pop() || null;
                console.log(cookieObjectValue)
                $('#sector_6').text(cookieObjectValue)
                $('#sector_6').css({'color': '#1D222A'})
            }
        })
    })


    function onClickHelpSector61() {
        if ($('#help_text_sector61').css('opacity') == 0) {
            $('#help_text_sector61').removeClass('d-none')
            $('#help_text_sector61').addClass('d-flex')
            $('#help_text_sector61').animate({opacity: 1}, 400)
        } else {
            $('#help_text_sector61').animate({opacity: 0}, 400)
            $('#help_text_sector61').removeClass('d-flex')
            setTimeout(function () {
                $('#help_text_sector61').addClass('d-none')
            }, 400);

        }
    }


    function onClickToSector51() {
        $('#id_inside_place_6').removeClass('d-flex')
        $('#id_inside_place_6').addClass('d-none')
        $('#id_inside_place_5').removeClass('d-none')
        $('#id_inside_place_5').addClass('d-flex')
        $('#id_inside_place_5').animate({opacity: 1}, 200)
        $('#sector_6').text('XXXXX')
        $('#sector_6').css({'color': '#cccccc'})
        $('#sector_5').text('XXXXXX')
        $('#sector_5').css({'color': '#cccccc'})

    }
</script>